Source: fwupd-snap
Section: utils
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9), python3, snapd
Standards-Version: 4.1.3

Package: fwupd-snap
Architecture: amd64 i386 armhf arm64
Multi-Arch: foreign
Depends: ${misc:Depends}, snapd
Conflicts: fwupd
Replaces: fwupd
Description: Firmware update daemon (snap version)
 fwupd is a daemon to allow session software to update device firmware.
 You can either use a GUI software manager like GNOME Software to view and
 apply updates, the command-line tool or the system D-Bus interface directly.
 Currently, firmware updates using the UEFI capsule format and for the
 ColorHug are supported. More formats may be supported in the future.
 See <https://github.com/hughsie/fwupd> for details
 .
 This is a fully unified snap version of the packaging that tracks the upstream
 stable release channel.
